<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../stylesheet/about.css">
 <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
<head>
	<title> Our Story</title>
</head>
<body>
	<div class="header">
		
			<a href="../index.html"> <img class="logo" src="../images/flacocoquito.png" alt="flaco coquito logo" width="535px" height="241px"></a>
			<img src="../images/circle.png" alt="logo" width="250px" height="250px">
	</div>

	<div class="navbar">
		<a href="../templates/cocktails.html"> Cocktails </a>
		<a href="../templates/about.html"> Our Story </a>
		<a href="../templates/locations.html"> Locations </a>
		<a href="../templates/contact.html" class="right"> Contact Us </a>
	</div>

	<h1 align="center"> Our Story </h1><img class="image" src="../images/image-2.jpg" width="400px">
		<p id="container">My grandmother was the matriarch of our family. She kept our family traditions alive through her delicious Puerto Rican delicacies, "Coquito" being one of them. When she passed away from cancer in 2009, our family gatherings and celebrations just weren’t the same without her touch. To honor my grandmother, in 2012, Flaco Coquito® - Skinny Coquito® was born. I decided to take over my grandmother’s Coquito making, while altering her recipe and incorporating a few changes of my own. Due to many illnesses that plague my family along with many other latino families, I wanted to make it so that all families could once again enjoy this delicious Puerto Rican beverage.</p>

	<h1 class="FAQ"> FAQs </h1>
		<ul>
			<h3>What is Coquito?</h3>
				<p>"Coquito," meaning little coconut, is a traditional creamy coconut beverage originating from the island of Puerto Rico.</p>

			<h3>What is Flaco Coquito aka Skinny Coquito?</h3>
				<p>Flaco Coquito aka Skinny Coquito is a coconut liqueur, which is specially handcrafted using the finest earthly ingredients. Our Puerto Rican "Coquito" is tradition in a bottle, delicious, light and smooth. Flaco Coquito is 30 proof/15% alcohol, made with organic coconuts, 181 proof premium Caribbean rum, cane juice, with notes of pure Madagascan vanilla extract and cinnamon sticks from India. Our "Coquito" is preservative free,  dairy-free, gluten-free, vegan and contains no artificial flavoring.</p>
			<h3>What is the difference between Flaco Coquito and your competitors?</h3>
				<p>Flaco Coquito is light and can be enjoyed all year round. Some competitors use "Natural" ingredients, which may contain animal product; for instance, some sugars contain animal bone char. We use the highest quality ingredients.</p>
			<h3>Why does Flaco Coquito get thick when cold?</h3>
				<p>Flaco Coquito is made from organic coconuts, not flavoring, coconuts thickens when it's cold, we do not put any chemicals to prevent this from happening like most liqueurs. Store at room temperature, even after opening, our product contains no milk and we use premium grade rum to preserve the Coquito. To regain the original texture from hardening due to cold climate, place the bottle in a luke warm bath for 5 mins and shake. Enjoy a glass of Flaco Coquito with  a dash of cinnamon, and for a sweeter taste, a dribble of agave/honey before pouring.</p>


		</ul>




</body>
</html>


