<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../stylesheet/style.css">
<link rel="stylesheet" type="text/css" href="../stylesheet/cocktails.css">
<link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">

<head>
	<title>Cocktails</title>
</head>
<body>
	<div class="header">
		
			<a href="../index.html"> <img class="logo" src="../images/flacocoquito.png" alt="flaco coquito logo" width="535px" height="241px"></a>
			<img src="../images/circle.png" alt="logo" width="250px" height="250px">
	</div>

	<div class="navbar">
		<a href="../templates/cocktails.html"> Cocktails </a>
		<a href="../templates/about.html"> Our Story </a>
		<a href="../templates/locations.html"> Locations </a>
		<a href="../templates/contact.html" class="right"> Contact Us </a>
	</div>

	<h2 align="center"> Flaco Coquito is an organic and vegan Coconut Liqueur: Take Some Inspiration from these cocktails to make your own.</h2>


	<div class="container">
		<img src="../images/cocktail.png" alt="pineapple coconut cocktail" style="width:200px"> 
		<div class="overlay">
			<div class="text"> PinaCoquito: 1 part Flaco Coquito, 1 part pineapple Bai beverage, add a pineapple wedge</div>
		</div>
	</div>

	<div class="container">
		<img src="../images/coquito.png" alt="coquito" style="width:200px"> 
		<div class="overlay">
			<div class="text">DairyCoquito:one bottle Flaco Coquito, 1/2 sweetened condensed milk, 1/2 can evaporated milk, dash of cinnamon and nutmeg </div>
		</div>
	</div>


<div class="container">
		<img src="../images/caramel.png" alt="coquito" style="width:200px"> 
		<div class="overlay">
			<div class="text">CaramelCoquito: 4 oz Flaco Coquito, one tablespoon of caramel syrup, garnish with soft caramel candy </div>
		</div>
	</div>

	<div class="container">
		<img src="../images/strawberry.png" alt="strawberry cocktail" style="width:300px"> 
		<div class="overlay">
			<div class="text">StrawberryCoquito: 1 cup Flaco Coquito, strawberries, 1/2 cup coconut water</div>
		</div>
	</div>

	<br></br>

	<div class="container">
		<img src="../images/blue.png" alt="coconut blue hawaiian cocktail" style="width:200px"> 
		<div class="overlay">
			<div class="text">BlueHawaiian Coquito: 1 cup Flaco Coquito, blue curacao, pineapple juice </div>
		</div>
	</div>
	
	<div class="container">
		<img src="../images/red.png" alt="cherry limeade cocktail" style="width:250px"> 
		<div class="overlay">
			<div class="text">CherryLimeCoquito: 1 cup Flaco Coquito, 2 limes, 1/2 oz grenadine, 1/2 oz simple syrup</div>
		</div>
	</div>

	<div class="container">
		<img src="../images/orange.png" alt="orange cocktail" style="width:200px"> 
		<div class="overlay">
			<div class="text">MangoOrange: 1/2 cup Flaco Coquito, 1/2 cup coconut water, orange, mango</div>
		</div>
	</div>

	<div class="container">
		<img src="../images/sunrise.png" alt="sunrise cocktail" style="width:200px"> 
		<div class="overlay">
			<div class="text">SunriseCoquito: 1 cup Flaco Coquito, pineapple juice, orange juice, 1/2 cup coconut water</div>
		</div>
	</div>

</body>
</html>