<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="stylesheet/contact.css">
<link rel="stylesheet" type="text/css" href="../stylesheet/style.css">
 <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
 <head>
 	
 </head>

<title>Midterm</title>

<body>

<div class="header">
  		<img class="logo" src="../images/flacocoquito.png" alt="flaco coquito logo" width="535px" height="241px">
  		<img src="../images/circle.png" alt="logo" width="250px" height="250px">
	</div>

	<div class="navbar">
		<a href="../templates/cocktails.html"> Cocktails </a>
		<a href="../templates/about.html"> Our Story </a>
		<a href="../templates/Locations.html"> Locations </a>
		<a href="../templates/contact.html" class="right"> Contact Us </a>
	</div>

<table style="width:550px;border:0;" cellpadding="8" cellspacing="0">
<tr> <td>
<label for="Name">Name*:</label>
</td> <td>
<input name="Name" type="text" maxlength="60" style="width:250px;" />
</td> </tr> <tr> <td>
<label for="PhoneNumber">Phone number:</label>
</td> <td>
<input name="PhoneNumber" type="text" maxlength="43" style="width:250px;" />
</td> </tr> <tr> <td>
<label for="FromEmailAddress">Email address*:</label>
</td> <td>
<input name="FromEmailAddress" type="text" maxlength="90" style="width:250px;" />
</td> </tr> <tr> <td>
<label for="Comments">Comments*:</label>
</td> <td>
<textarea name="Comments" rows="7" cols="40" style="width:350px;"></textarea>
</td> </tr> <tr> <td>
* - required fields
</td> <td>

 <input name="skip_Submit" type="submit" value="Submit" /> -->

</td> </tr>
</table>
</form>

</body>
</html>