<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../stylesheet/style.css">
<link rel="stylesheet" type="text/css" href="../stylesheet/locations.css">
<link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
<head>
	<title>Locations</title>
</head>
<body>
	<div class="header">
		
			<a href="../index.html"><img class="logo" src="../images/flacocoquito.png" alt="flaco coquito logo" width="535px" height="241px"></a>
			<img src="../images/circle.png" alt="logo" width="250px" height="250px">
	</div>

	<div class="navbar">
		<a href="../templates/cocktails.html"> Cocktails </a>
		<a href="../templates/about.html"> Our Story </a>
		<a href="../templates/locations.html"> Locations </a>
		<a href="../templates/contact.html" class="right"> Contact Us </a>
	</div>
	<h1 style="color:rgb(32,81,105);"></h1><img src="../images/bottle.png" alt="bottle" width="500px" height="500px" align="left"> 


		<h2>The following stores hold our brand:</h2>

		<ul>
			<li>New York Wine Exchange- 9 Broadway New York, NY 10004</li>
			<li> 67 Wines - 179 Columbus Ave. New York, NY 10023 or order online at 67wine.com</li>
			<li> Fairway Wines & Spirits - 847-A Pelham Pkwy, Pelham Manor, NY 10803</li>
			<li> LALA Wine and Liquor - 566 W125 St. New York, NY 10027 </li>
			<li> LeHigh Wine and Liquor - 2929 Westchester Ave. Bronx, NY 10461</li>
			<li> Midway Wine and Liquor - 973 Central Park Ave. Scarsdale, NY 10583</li>
			<li> 42nd Street WINE LOFT - 507 West 42nd Street New York, NY 10036 </li>
			<li> Park Slope Wine and liquor - 539 5th Ave, Brooklyn, NY 11215</li>
			<li> Edgewater Liquors - 547 River Rd. Edgewater, NJ </li>
		</ul>
	</body>
	</html>

		



